{{define "head"}}
<head>
    <title>PASSBOX [for] ME</title>
    <link rel="stylesheet" href="/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/css/metro-bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/iconFont.min.css">
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="/js/metro.min.js"></script>
    <script type="text/javascript" src="/js/lib.js"></script>
</head>
{{end}}
